*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color:#36454F;
}

.container{
    height: 100vh;
    width: 100%;
}

.bulbs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0 0 0;
}
#bulb{
    height: 42rem;
    width: 25rem;  
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.buttons button{
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 2rem;
    border: none;
    outline: none;
}

#on{
    background-color: #0FFF50;
    font-size: 2rem;
    padding: 2rem 6rem ;
}

#off{
    background-color: #880808;
    font-size: 2rem;
    padding: 2rem 6rem;
}

@media screen and (max-width:627px) {
    html{
        font-size: 12px;
    }
}

@media screen and (max-width:473px) {
    html{
        font-size: 9px;
    }
}

@media screen and (max-width:380px) {
    html{
        font-size: 7px;
    }
}

@media screen and (max-width:290px) {
    html{
        font-size: 5px;
    }
}